altgraph==0.17.4
certifi==2024.6.2
charset-normalizer==3.3.2
idna==3.7
ImageHash==4.3.1
keyboard==0.13.5
lxml==5.2.2
numpy==2.0.0
ordered-set==4.1.0
packaging==24.2
pefile==2023.2.7
pillow==10.3.0
pygame==2.6.0
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2025.1
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PyWavelets==1.6.0
pywin32-ctypes==0.2.3
requests==2.32.3
scipy==1.14.0
setuptools==75.8.0
shiboken6==6.7.2
simplejson==3.19.2
urllib3==2.2.2
WarThunder==2.3.4
zstandard==0.23.0
